body{
    font-family: "Silkscreen", sans-serif;
    overflow: hidden;
    color: white;
    margin: 0;
    padding: 0;
}

.Main-Aside{
 height: 100vh;
 background-color: rgb(128, 128, 128);
 position: fixed;
 width:15%;
}
.Nav-List{
    padding: 0;
}
a{
    text-decoration: none;
}
.List-Element{
    list-style: none;
    padding: 10%;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 10%;
}
.List-Element:hover{
    background-color: white;
    color: black;
    transition: all ease-in 0.25s;
}

.Main-Article{
    height: 100%;
    width:85%;
    margin-left:15%;
    background-color: rgb(31, 31, 31);
}
.Article-Presentation, .Article-Home, .Article-Integrantes, .Article-Whous, .Article-Productos, .Article-ContactUs{
    height:100vh;
    scroll-snap-align: start;
    border: 3px solid black;
}

.Presentation-Text {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Presentation-Notice {
    text-align: center;
}


.Home-Text{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Home-Img-Container{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Home-Img{
    width: 100%;
    height: 100%;
}

.team-grid{
    display: flex;
    justify-content: center;
}
.team-member{
    width: 25%;
    height: 30%;
}

.Productos-Container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Container1,.Container2{
    display: flex;
    justify-content: center;
}
.Producto-Item{
    width: 30%;
    border: 5px solid;
    height: 50%;
    padding: 10%;
}

.form-control{
    width: 75%;
}