:root{
    --text-50: #feede7;
--text-100: #fcdacf;
--text-200: #fab59e;
--text-300: #f7906e;
--text-400: #f56b3d;
--text-500: #f2460d;
--text-600: #c2380a;
--text-700: #912a08;
--text-800: #611c05;
--text-900: #300e03;
--text-950: #180701;

--background-50: #fdeee7;
--background-100: #fcddcf;
--background-200: #f8baa0;
--background-300: #f59870;
--background-400: #f27640;
--background-500: #ee5311;
--background-600: #bf430d;
--background-700: #8f320a;
--background-800: #5f2107;
--background-900: #301103;
--background-950: #180802;

--primary-50: #feece7;
--primary-100: #fdd8ce;
--primary-200: #fab29e;
--primary-300: #f88b6d;
--primary-400: #f6643c;
--primary-500: #f43e0b;
--primary-600: #c33109;
--primary-700: #922507;
--primary-800: #611905;
--primary-900: #310c02;
--primary-950: #180601;

--secondary-50: #e7fef6;
--secondary-100: #cefded;
--secondary-200: #9dfbdc;
--secondary-300: #6cf9ca;
--secondary-400: #3bf7b8;
--secondary-500: #0af5a7;
--secondary-600: #08c485;
--secondary-700: #069364;
--secondary-800: #046243;
--secondary-900: #023121;
--secondary-950: #011811;

--accent-50: #e7f4fe;
--accent-100: #cee9fd;
--accent-200: #9ed2fa;
--accent-300: #6dbcf8;
--accent-400: #3ca5f6;
--accent-500: #0b8ff4;
--accent-600: #0972c3;
--accent-700: #075692;
--accent-800: #053961;
--accent-900: #021d31;
--accent-950: #010e18;


}

@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20Thaana:700|Noto%20Sans%20Thaana:400');

body {
  font-family: 'Noto Sans Thaana';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Noto Sans Thaana';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

p,a{font-size:1.256rem;}

small {font-size: 0.600rem; /* 9.6px */}

i{
    font-size:2.900rem;
    margin-right: 25px;
    margin-left: 25px;
}

i:hover{
    color:var(--secondary-700);
}

body{
    color: var(text-700) !important;
    background-color: var(background-50) !important; 
    text-decoration: none;
}
.main-glr{
    margin-bottom:200px;
}
.cus-body{
    width: 100%;
    margin-left: 32%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}
.wous-container{
    height: 50vh;
}
.wous-tittle{
    margin-bottom: 85px;
}
.header-list{
    list-style: none;
}
.header-tit{
    margin-top:20px;
}
.header-logo{
    margin-right:10px;
    margin-top:10px;
}
.header-link{
    color: var(--text-50) !important;
    text-decoration: none !important;
    padding: 20px;
    background-color: var(--primary-400);
    border-radius: 15px;
}
.header-link:hover{
    background-color: var(--secondary-400);
    transition: ease-in 0.25s;
}
ur{
    list-style:none;
}
li{
    margin-top:25px;
    margin-right: 20px;
}

.glry{
    display: flex;
    justify-content: space-between;
}
.btn-glry{
    width: 75%;
}
.square{
    width: 50vh;
    height: 55vh;
    background-color: wblack;
    border: 10px solid black;
    border-radius: 10px;
}
.tittle-3{margin-top:150px;
    margin-bottom:150px; !important 
}
.cus-body{
    display: flex;
    justify-content: center;
        width: 600px;
}
